<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for product do |f| %>
      <%= f.text_field :name, placeholder: "Ingresa el nombre del producto" %>
      <%= f.number_field :price, placeholder: "Ingresa el precio del producto" %>
      <%= @categories.each do |category| %>
        <%= label_tag(category.name, "#{category.name}") %>
        <%= check_box_tag(category.name) %>
      <% end %>
      <%= form.submit %>
    <% end %>
  </div>
<% end %>
