<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form_for product do |f| %>
      <br>
      <%= f.text_field :name, placeholder: "Ingresa el nombre del producto", class: "form-control" %>
      <br>
      <%= f.number_field :price, placeholder: "Ingresa el precio del producto", class: "form-control" %>
      <br>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <%= b.check_box %>
        <%= b.label %>
      <% end %>

      <!--<%= @categories.each do |category| %>
        <%= check_box_tag(category.name, class: "form-check-input")  %>
      <% end %>-->
      <br>
      <%= form.submit class: "btn btn-block btn-primary mt-3"%>
    <% end %>
  </div>
<% end %>